<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Registered for {{ group_name }}</title>
</head>
<body>
    <h1>Registered for {{ group_name }}</h1>
    <a href="/register">Would you like to register another payment?</a>
    <br>
    <h2>Or would you like to see your group dashboard?</h2>
    <a href="/group/{{ group_name }}">Click here to see your group dashboard</a>
</body>
</html>